body{
    background: linear-gradient(-25deg, rgb(166, 162, 243) 0%, rgba(223,229,235,1) 35%, rgba(0, 213, 255, 0.322) 100%);
    /*background: rgb(1,212,255);
    background: linear-gradient(0deg, rgba(1,212,255,1) 10%, rgba(255,255,255,1) 90%);*/
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    margin: 30px 30px 30px 30px;
    text-align: center;
    padding: 20px;
}